*{margin:0;padding: 0;list-style: none;}
.checked-color{
    border-radius: 2px;
    padding:5px 8px 5px 8px;
    overflow: hidden;
    background:#00ad9f;

    color: white;
}
.blue{
    color:#00ad9f !important;
}
.head {

    .headWrap{
        border-bottom:1px solid #00ad9f;
        .headImg {
            height: 60px;
            img {
                height: 100%;
                margin-left: 100px;
            }
        }
        .headLinks {
            margin-right: 100px;

            a {
                line-height: 60px;
                text-decoration: none;
                color: black;
                &:hover {
                    color: #00ad9f;
                }
                margin-right: 50px;
            }
        }
    }
    .banner {
        overflow: hidden;
        //margin-top: 50px;
        height: 500px;
        img {
            height: 100%;
        }
    }
}

.foot {
    box-shadow: 0 -1px 3px rgba(222,222,222,0.2);
    .footContent{
        width: 1000px;
        margin: 0 auto;
        line-height: 40px;

        .footLeft {
            color:#999999;

        }
        .footRight {
            span {
                a {
                    color:#999999;
                    position: relative;
                    margin: 0 10px 0 10px;
                }
            }
        }
    }

}