.head .banner{
    height: 360px;
}
.body {
    background: rgba(200,200,200,0.1);
    padding-top: 0px;
    padding-bottom: 20px;
    .title{
        .content{
            width: 300px;
            margin:0 auto;
            div{
                margin-bottom: 15px;
                span{
                    border-radius: 2px;
                    padding:5px 8px 5px 8px;
                    user-select: none;
                }
            }
            label{
                cursor: pointer;
                user-select: none;
                input{
                    cursor: pointer;
                    transform: scale(1.5,1.5);
                }
            }
            span{
                cursor: pointer;
            }
        }
    }
    .content{

        width: 1000px;
        margin:0 auto;


        .item{
            background: white;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 15px;
            padding: 10px;
            &:hover{
                //box-shadow: 0 0 7px 1px rgba(222,222,222,0.7);
                webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
                box-shadow: 0 15px 30px rgba(0,0,0,0.1);
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
            }
            .media{
                .media-left{

                }
                .media-body{
                    div{
                        line-height: 30px;
                        span{
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}































