.head .banner {
  height: 360px; }

.title-checked {
  color: #00ad9f;
  position: relative; }
  .title-checked::after {
    content: '';
    position: absolute;
    top: calc( 100% - 2px);
    left: 0;
    height: 2px;
    width: 100%;
    background: #00ad9f; }

.body {
  background: rgba(200, 200, 200, 0.1); }
  .body .nav {
    position: relative; }
    .body .nav li {
      position: relative;
      left: calc(50% - 90px); }
      .body .nav li a {
        margin-right: 0; }
  .body .tab-content .itemContent {
    width: 1000px;
    margin: 0px auto;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px; }
    .body .tab-content .itemContent:first-child p {
      text-indent: 2em;
      line-height: 25px; }
  .body .title {
    line-height: 57px;
    background: white;
    color: #333333; }
    .body .title span {
      cursor: pointer;
      user-select: none;
      display: inline-block;
      font-size: 14px;
      margin-right: 90px; }
  .body .content1 {
    margin-top: 20px;
    padding-bottom: 80px; }
    .body .content1 .wrap {
      background: white;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 20px;
      position: relative; }
      .body .content1 .wrap::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translate(-271px, 0);
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid white; }
  .body .content2 {
    margin-top: 20px;
    padding-bottom: 80px; }
    .body .content2 .wrap {
      background: white;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 20px;
      position: relative; }
      .body .content2 .wrap::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translate(-120px, 0);
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid white; }
      .body .content2 .wrap ul li {
        line-height: 30px;
        font-size: 14px;
        color: #666666; }
  .body .content3 {
    margin-top: 20px;
    padding-bottom: 80px; }
    .body .content3 .wrap {
      background: white;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 20px;
      position: relative; }
      .body .content3 .wrap::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translate(21px, 0);
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid white; }
      .body .content3 .wrap ul li {
        line-height: 30px;
        font-size: 14px;
        color: #666666; }
  .body .content4 {
    margin-top: 20px;
    padding-bottom: 80px; }
    .body .content4 .wrap {
      background: white;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 20px;
      position: relative; }
      .body .content4 .wrap::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translate(166px, 0);
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid white; }
      .body .content4 .wrap ul li {
        line-height: 30px;
        font-size: 14px;
        color: #666666; }

/*# sourceMappingURL=index1.css.map */
